<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!--    Start of JS connection-->
    <script src="../static/bootstrap/js/jquery-3.4.0.js"></script>
    <script src="../static/bootstrap/js/popper.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.js"></script>
<!--    End ofJS connection-->
<!--    Start of CSS connection-->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/bootstrap/css/custom.css">
<!--    End of CSS connection-->
</head>
<body>
<!--Start of navigation section-->
    <section>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Bloom</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="cat2.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Services</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Portfolio</a>
      </li>
         <li class="nav-item">
        <a class="nav-link" href="#">Contact us</a>
      </li>
    </ul>
  </div>
</nav>
<br>
    </section>
<!-- End of navigation section-->
    <div class="row bg-light">
        <div class="bg-white col-md-6">
           <h3>Lorem ipsum dolor sit amet</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, nostrum reiciendis? Accusamus ad distinctio esse quod suscipit. Adipisci blanditiis dolor et eum iusto labore omnis optio praesentium, sint sit,
                temporibus!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aut deserunt doloremque eligendi esse eveniet illo inventore iure magnam maiores minima molestiae non officia placeat quas quasi quidem,
                repellat voluptate.</p>
        </div>
        <div class="bg-white col-md-6">
            <div class="container">
  <img src="../static/images/strawberries-gfc02bed60_640.jpg" class="rounded" alt="Cinque Terre" width="304" height="236">
</div>

        </div>
    </div>
    <div class="row bg-info">
        <div class="bg-white col-md-4">
            <h3>This is it</h3>
            <img src="../static/images/grapes-g8d346dec0_640.jpg" class="rounded" alt="Cinque Terre">
            <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quae quaerat quo sint vitae! A ad dignissimos fugit illo incidunt minus odit ratione, tempora! Amet consequuntur culpa
                enim esse eum.</P>
            <button>Learn More</button>
        </div>
        <div class="bg-white col-md-4">
             <h3>This is it</h3>
            <img src="../static/images/tangerines-gc802bf380_640.jpg" class="rounded" alt="Cinque Terre">
            <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quae quaerat quo sint vitae! A ad dignissimos fugit illo incidunt minus odit ratione, tempora! Amet consequuntur culpa
                enim esse eum.</P>
            <button>Learn More</button>
        </div>
        <div class="bg-white col-md-4">
             <h3>This is it</h3>
            <img src="../static/images/tangerines-gc802bf380_640.jpg" class="rounded" alt="Cinque Terre">
            <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quae quaerat quo sint vitae! A ad dignissimos fugit illo incidunt minus odit ratione, tempora! Amet consequuntur culpa
                enim esse eum.</P>
            <button>Learn More</button>
        </div>
    </div>
    <div class="row bg-dark">
        <div class="bg-dark col-md-4">
            <ol>
              <h3>Latest Posts</h3>
            <img src="../static/images/pizza-g7b37fa46e_640.jpg" class="rounded" alt="Cinque Terre">
            </ol>
        </div>
        <div class="bg-dark col-md-4">
            <ol>
                <h3>About</h3>
                <ul>
                    <img src="../static/images/japan-gd243c8ae5_640.jpg" class="rounded" alt="Cinque Terre">
                    <h3>Try your luck</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci animi aspernatur at dicta dignissimos doloribus dolorum earum eius, est fugit hic magnam magni modi, molestias non
                        officia sequi totam!</p>
                </ul>
            </ol>
        </div>
        <div class="bg-dark col-md-4">
            <ol>
                <h3>Stay connected</h3>
                <img src="../static/images/blueberries-g8a539cc5a_640.jpg" class="rounded" alt="Cinque Terre">
            </ol>
        </div>
    </div>
</body>
</html>