<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
<!--    Start of JS connection-->
    <script src="../static/bootstrap/js/jquery-3.4.0.js"></script>
    <script src="../static/bootstrap/js/popper.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.js"></script>
<!--    End ofJS connection-->
<!--    Start of CSS connection-->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/bootstrap/css/custom.css">
<!--    End of CSS connection-->
</head>
<body>
    <h1 class="text-info">eMobilis Coding School</h1>
    <button class="btn btn-outline-success">Home</button>
    <button class="btn btn-outline-info">About</button>
    <button class="btn btn-outline-danger">Gallery</button>
    <button class="btn btn-outline-primary">Register</button>
    <button class="btn btn-outline-warning">Login</button>
    <hr>
    <h3>Tables</h3>
<!--    Table starts here-->
   <table class="table table-bordered">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
<!-- Table ends here-->
<h2>Images</h2>
<!--  Start of images-->
<h2>Rounded Corners</h2>
  <p>The .rounded class adds rounded corners to an image:</p>
       <img src="../static/images/pizza-g7b37fa46e_640.jpg" class="rounded" alt="Cinque Terre" width="304" height="236">
       <img src="../static/images/japan-gd243c8ae5_640.jpg" class="rounded" alt="Cinque Terre" width="304" height="236">
       <img src="../static/images/raspberries-gc693f4d50_640.jpg" class="rounded" alt="Cinque Terre" width="304" height="236">
       <img src="../static/images/still-life-gabbe13066_640.jpg" class="rounded" alt="Cinque Terre" width="304" height="236">
       <img src="../static/images/tangerines-gc802bf380_640.jpg" class="rounded" alt="Cinque Terre" width="304" height="236">
        <img src="../static/images/man-g1438e782b_640.jpg" class="rounded" alt="Cinque Terre" width="304" height="236">
<!--  End of images-->
       <!--Start of jumbotron-->

        <!--End of jumbotron-->

</body>
</html>